<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<style type="text/css">
@import url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicLight.woff');
    *{
    font-family: 'GongGothicLight';
    }
@font-face {
    font-family: 'GongGothicLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#button1{
text-align: center;
padding: 15px 65px;
background-color: red;
color: white;
border-width: 0px;
}
</style>
<title>Insert title here</title>
</head>
<body>
<center>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<h2>비회원으로 로그인이 되었습니다.</h2>
<div><a href="/ticketing"><button id="button1">예매페이지로</button></a></div>
</center>
</body>
</html>