<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<style type="text/css">
@import url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicLight.woff');
    *{
    font-family: 'GongGothicLight';
    }
@font-face {
    font-family: 'GongGothicLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#button1{
text-align: right;
padding: 15px 65px;
background-color: red;
color: white;
border-width: 0px;
}
</style>
<title>Insert title here</title>
</head>
<body>

<center>
<h2>귀하의 비밀번호는 {{pwd}}입니다.</h2>
<div><a href="/"><button id="button1">메인페이지로</button></a></div>
</center>

</body>
</html>